# 1. Scrape the details of most viewed videos on YouTube from Wikipedia:

In [1]:
# Importing Libraries 

import numpy as np
import pandas as pd
from  selenium import webdriver
from time import sleep
import warnings
warnings.filterwarnings('ignore')
import time
import string

#Loading Driver
driver=webdriver.Edge(r"C:\Users\PANKAJ\Downloads\msedgedriver.exe")
# Giving the name of website we have to  scrap
url1 = "https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos"
#Getting Url 
driver.get(url1)
# Details wich we want to scrap from the data
Rank=[]
Name=[]
Artist=[]
Upload_date=[]
Views=[]
# lets scrap the data from the server
rank=driver.find_elements_by_xpath("//tbody/tr/td[1]")
for r in rank[0:30]:
    r_rank=r.text
    Rank.append(r_rank)
    Ra=pd.DataFrame(Rank)
    Ra=Ra.rename({0: 'Rank'},axis=1)
name=driver.find_elements_by_xpath("//tbody/tr/td[2]")
for n in name[0:30]:
    n_rank=n.text
    Name.append(n_rank)
    N=pd.DataFrame(Name)
    N=N.rename({0: 'Name'},axis=1)
artist=driver.find_elements_by_xpath("//tbody/tr/td[3]")
for ar in artist[0:30]:
    ar_rank=ar.text
    Artist.append(ar_rank)
    A=pd.DataFrame(Artist)
    A=A.rename({0: 'Artist'},axis=1)
view=driver.find_elements_by_xpath("//tbody/tr/td[4]")
for v in view[0:30]:
    v_rank=v.text
    Views.append(v_rank)
    V=pd.DataFrame(Views)
    V=V.rename({0: 'Views'},axis=1)
date=driver.find_elements_by_xpath("//tbody/tr/td[5]")
for da in date[0:30]:
    da_rank=da.text
    Upload_date.append(da_rank)
    UD=pd.DataFrame(Upload_date)
    UD=UD.rename({0: 'Upload Date'},axis=1)

# now lets add the whole data in  the table
mwm=pd.concat([Ra,N,A,V,UD] , axis=1)
mwm

,Rank,Name,Artist,Views,Upload Date
0,1.,"""Baby Shark Dance""[28]",Pinkfong Kids' Songs & Stories,7.39,"June 17, 2016"
1,2.,"""Despacito""[30]",Luis Fonsi featuring Daddy Yankee,7.09,"January 12, 2017"
2,3.,"""Shape of You""[31]",Ed Sheeran,5.10,"January 30, 2017"
3,4.,"""See You Again""[32]",Wiz Khalifa featuring Charlie Puth,4.85,"April 6, 2015"
4,5.,"""Masha and the Bear – Recipe for Disaster""[35]",Get Movies,4.38,"January 31, 2012"
5,6.,"""Johny Johny Yes Papa""[36]",LooLoo Kids,4.37,"October 8, 2016"
6,7.,"""Uptown Funk""[37]",Mark Ronson featuring Bruno Mars,4.03,"November 19, 2014"
7,8.,"""Gangnam Style""[38]",Psy,3.88,"July 15, 2012"
8,9.,"""Learning Colors – Colorful Eggs on a Farm""[40]",Miroshka TV,3.66,"February 27, 2018"
9,10.,"""Sorry""[41]",Justin Bieber,3.37,"October 22, 2015"
10,11.,"""Bath Song""[42]",Cocomelon – Nursery Rhymes,3.34,"May 2, 2018"
11,12.,"""Sugar""[43]",Maroon 5,3.34,"January 14, 2015"
12,13.,"""Phonics Song with Two Words""[44]",ChuChu TV,3.30,"March 6, 2014"
13,14.,"""Roar""[45]",Katy Perry,3.22,"September 5, 2013"
14,15.,"""Thinking Out Loud""[46]",Ed Sheeran,3.13,"October 7, 2014"
15,16.,"""Counting Stars""[47]",OneRepublic,3.13,"May 31, 2013"
16,17.,"""Shake It Off""[48]",Taylor Swift,2.99,"August 18, 2014"
17,18.,"""Dame Tu Cosita""[49]",El Chombo featuring Cutty Ranks,2.94,"April 5, 2018"
18,19.,"""Bailando""[50]",Enrique Iglesias featuring Descemer Bueno and ...,2.94,"April 11, 2014"
19,20.,"""Lean On""[51]",Major Lazer and DJ Snake featuring MØ,2.93,"March 22, 2015"
20,21.,"""Faded""[52]",Alan Walker,2.92,"December 3, 2015"
21,22.,"""Dark Horse""[53]",Katy Perry featuring Juicy J,2.92,"February 20, 2014"
22,23.,"""Girls Like You""[54]",Maroon 5 featuring Cardi B,2.91,"May 31, 2018"
23,24.,"""Let Her Go""[55]",Passenger,2.85,"July 25, 2012"
24,25.,"""Mi Gente""[56]",J Balvin and Willy William,2.82,"June 29, 2017"
25,26.,"""Hello""[57]",Adele,2.75,"October 22, 2015"
26,27.,"""Blank Space""[58]",Taylor Swift,2.68,"November 10, 2014"
27,28.,"""Waka Waka (This Time for Africa)""[59]",Shakira featuring Freshlyground,2.66,"June 4, 2010"
28,29.,"""Perfect""[60]",Ed Sheeran,2.65,"November 9, 2017"
29,30.,"""Chantaje""[61]",Shakira featuring Maluma,2.60,"November 18, 2016"

# 2. Scrape the details team India’s international fixtures from bcci.tv.

In [3]:
# Importing Libraries 

import numpy as np
import pandas as pd
from  selenium import webdriver
import warnings
warnings.filterwarnings('ignore')

#Loading Driver
driver=webdriver.Edge(r"C:\Users\PANKAJ\Downloads\msedgedriver.exe")
# Giving the name of website we have to  scrap
url1 = "https://www.bcci.tv/international/fixtures"
#Getting Url 
driver.get(url1)
# Details wich we want to scrap from the data
Match_title=[]
Series=[]
Place=[]
Date=[]
Month=[]
Time=[]
# lets scrap the data from the server
match=driver.find_elements_by_xpath("//strong[@class='fixture__name fixture__name--with-margin']")
for m in match:
    m_match=m.text
    Match_title.append(m_match)
    M=pd.DataFrame(Match_title)
    M=M.rename({0: 'Match Title'},axis=1)
series=driver.find_elements_by_xpath("//div[@class='fixture__teams']")
for s in series:
    s_name=s.text
    Series.append(s_name)
    S=pd.DataFrame(Series)
    S=S.rename({0: 'Series Name'},axis=1)
place=driver.find_elements_by_xpath("//p[@class='fixture__additional-info']/span")
for p in place:
    p_name=p.text
    Place.append(p_name)
    P=pd.DataFrame(Place)
    P=P.rename({0: 'Place Name'},axis=1)
date=driver.find_elements_by_xpath("//span[@class='fixture__date']")
for d in date:
    dates=d.text
    Date.append(dates)
    D=pd.DataFrame(Date)
    D=D.rename({0: 'Date'},axis=1)
month=driver.find_elements_by_xpath("//span[@class='fixture__month']")
for m in month:
    months=m.text
    Month.append(months)
    M1=pd.DataFrame(Month)
    M1=M1.rename({0: 'Month'},axis=1)
time=driver.find_elements_by_xpath("//span[@class='fixture__time']")
for t in time:
    times=t.text
    Time.append(times)
    T=pd.DataFrame(Time)
    T=T.rename({0: 'Time'},axis=1)
# now lets add the whole data in  the table
matches=pd.concat([M,S,P,D,M1,T] , axis=1)
matches

,Match Title,Series Name,Place Name,Date,Month,Time
0,1st Test,AUSTRALIA\nv\nINDIA,"Adelaide Oval, Adelaide",17,DECEMBER,09:30 IST
1,2nd Test,AUSTRALIA\nv\nINDIA,"Melbourne Cricket Ground, Melbourne",26,DECEMBER,05:00 IST
2,3rd Test,AUSTRALIA\nv\nINDIA,"Sydney Cricket Ground, Sydney",07,JANUARY,05:00 IST
3,4th Test,AUSTRALIA\nv\nINDIA,"Brisbane Cricket Ground, Brisbane",15,JANUARY,05:30 IST
4,1st Test,INDIA\nv\nENGLAND,"M. A. Chidambaram Stadium, Chennai",05,FEBRUARY,09:30 IST
5,2nd Test,INDIA\nv\nENGLAND,"M. A. Chidambaram Stadium, Chennai",13,FEBRUARY,09:30 IST
6,3rd Test,INDIA\nv\nENGLAND,"Sardar Patel Stadium, Ahmedabad",24,FEBRUARY,14:00 IST
7,4th Test,INDIA\nv\nENGLAND,"Sardar Patel Stadium, Ahmedabad",04,MARCH,09:30 IST
8,1st Test,INDIA\nv\nENGLAND,"Sardar Patel Stadium, Ahmedabad",12,MARCH,18:00 IST
9,2nd T20I,INDIA\nv\nENGLAND,"Sardar Patel Stadium, Ahmedabad",14,MARCH,18:00 IST
10,3rd T20I,INDIA\nv\nENGLAND,"Sardar Patel Stadium, Ahmedabad",16,MARCH,18:00 IST
11,4th T20I,INDIA\nv\nENGLAND,"Sardar Patel Stadium, Ahmedabad",18,MARCH,18:00 IST
12,5th T20I,INDIA\nv\nENGLAND,"Sardar Patel Stadium, Ahmedabad",20,MARCH,18:00 IST
13,1st ODI,INDIA\nv\nENGLAND,"Maharashtra Cricket Association Stadium, Pune",23,MARCH,14:30 IST
14,2nd ODI,INDIA\nv\nENGLAND,"Maharashtra Cricket Association Stadium, Pune",26,MARCH,14:30 IST
15,3rd ODI,INDIA\nv\nENGLAND,"Maharashtra Cricket Association Stadium, Pune",28,MARCH,09:30 IST
16,1st Test,ENGLAND\nv\nINDIA,"Trent Bridge, Nottingham",04,AUGUST,15:30 IST
17,2nd Test,ENGLAND\nv\nINDIA,"Lord's, London",12,AUGUST,15:30 IST
18,3rd Test,ENGLAND\nv\nINDIA,"Headingley, Leeds",25,AUGUST,15:30 IST
19,4th Test,ENGLAND\nv\nINDIA,"The Oval, London",02,SEPTEMBER,15:30 IST

# 9. Scrape the details most watched tv series of all time from imdb.com.

In [1]:
# Importing Libraries 
import numpy as np
import pandas as pd
from  selenium import webdriver
from time import sleep
import warnings
warnings.filterwarnings('ignore')
import time
import string

#Loading Driver
driver=webdriver.Edge(r"C:\Users\PANKAJ\Downloads\msedgedriver.exe")
# Giving the name of website we have to  scrap
url1 = "https://www.imdb.com/list/ls095964455/"
#Getting Url 
driver.get(url1)
# Details wich we want to scrap from the data
Name=[]
Year_span=[]
Genre=[]
Run_time=[]
Ratings=[]
Votes=[]
# lets scrap the data from the server
name=driver.find_elements_by_xpath("//h3[@class='lister-item-header']/a[@href]")
for n in name:
    n_name=n.text
    Name.append(n_name)
    N=pd.DataFrame(Name)
    N=N.rename({0: 'Movies Name'},axis=1)
year=driver.find_elements_by_xpath("//span[@class='lister-item-year text-muted unbold']")
for y in year:
    y_span=y.text
    Year_span.append(y_span)
    Y=pd.DataFrame(Year_span)
    Y=Y.rename({0: 'Year Span'},axis=1)
genre=driver.find_elements_by_xpath("//span[@class='genre']")
for g in genre:
    g_name=g.text
    Genre.append(g_name)
    G=pd.DataFrame(Genre)
    G=G.rename({0: 'Genre'},axis=1)
run=driver.find_elements_by_xpath("//span[@class='runtime']")
for r in run:
    r_time=r.text
    Run_time.append(r_time)
    R=pd.DataFrame(Run_time)
    R=R.rename({0: 'Run Time'},axis=1)
rate=driver.find_elements_by_xpath("//span[@class='ipl-rating-star__rating']")
for r1 in rate:
    r_rate=r1.text
    Ratings.append(r_rate)
    R1=pd.DataFrame(Ratings)
    R1=R1.rename({0: 'Ratings'},axis=1)
vote=driver.find_elements_by_xpath("//p[@class='text-muted text-small']")
for v in vote:
    v_total=v.text
    Votes.append(v_total)
    V=pd.DataFrame(Votes)
    V=V.rename({0: 'Total Votes'},axis=1)
# now lets add the whole data in  the table
tm=pd.concat([N,Y,G,R] , axis=1)
tm

         Movies Name    Year Span                     Genre Run Time
0    Game of Thrones  (2011–2019)  Action, Adventure, Drama   57 min
1    Stranger Things     (2016– )    Drama, Fantasy, Horror   51 min
2   The Walking Dead     (2010– )   Drama, Horror, Thriller   44 min
3     13 Reasons Why  (2017–2020)  Drama, Mystery, Thriller   60 min
4            The 100  (2014–2020)    Drama, Mystery, Sci-Fi   43 min
..               ...          ...                       ...      ...
95               NaN          NaN            Drama, Fantasy   42 min
96               NaN          NaN  Adventure, Comedy, Drama   50 min
97               NaN          NaN     Crime, Drama, Mystery   42 min
98               NaN          NaN      Crime, Drama, Horror   45 min
99               NaN          NaN    Drama, Horror, Mystery  572 min

[100 rows x 4 columns]

# Scrape the details of Data science recruiters from naukri.com.

In [1]:
# Importing Libraries 

import numpy as np
import pandas as pd
from  selenium import webdriver
from time import sleep
import warnings
warnings.filterwarnings('ignore')
import time
import string

#Loading Driver
driver=webdriver.Edge(r"C:\Users\PANKAJ\Downloads\msedgedriver.exe")
# Giving the name of website we have to  scrap
url1 = "https://www.naukri.com/data-science-recruiters"
#Getting Url 
driver.get(url1)
# Details wich we want to scrap from the data
Name=[]
Designation=[]
Company=[]
Skills=[]
Location=[]
# lets scrap the data from the server
name=driver.find_elements_by_xpath("//span[@class='fl ellipsis']")
for n in name:
    n_name=n.text
    Name.append(n_name)
    N=pd.DataFrame(Name)
    N=N.rename({0: 'Name'},axis=1)
profile=driver.find_elements_by_xpath("//span[@class='ellipsis clr']")
for d in profile:
    d_name=d.text
    Designation.append(d_name)
    D=pd.DataFrame(Designation)
    D=D.rename({0: 'Designation'},axis=1)
company=driver.find_elements_by_xpath("//a[@class='ellipsis']")
for c in company:
    c_name=c.text
    Company.append(c_name)
    C1=Company[1: :2]
    C2=pd.DataFrame(C1)
    C2=C2.rename({0: 'Company Name'},axis=1)
skill=driver.find_elements_by_xpath("//div[@class='hireSec highlightable']")
for s in skill:
    s_required=s.text
    Skills.append(s_required)
    S=pd.DataFrame(Skills)
    S=S.rename({0: 'Skills For Role'},axis=1)
location=driver.find_elements_by_xpath("//small[@class='ellipsis']")
for l in location:
    l_name=l.text
    Location.append(l_name)
    L=pd.DataFrame(Location)
    L=L.rename({0: 'Job Location'},axis=1)
# now lets add the whole data in  the table
DSR=pd.concat([N,D,C2,S,L] , axis=1)
DSR

,Name,Designation,Company Name,Skills For Role,Job Location
0,Aakash Harit,HR Manager,Data Science Network,"Classic ASP Developer, Internet Marketing Prof...",Delhi
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,".Net, Java, Data Science, Linux Administration...",Hyderabad / Secunderabad
2,Talent Acquisition Executive,Recruitment Professional,XenonStack,"Web Designing, html5, Angular.js, seo, hadoop,...",Chandigarh
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,"Mean Stack, javascript, angularjs, mongodb, We...",Ahmedabad
4,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,"Data Science, Artificial Intelligence, Machine...",Pune
5,subhas patel,Founder CEO,LibraryXProject,"Hadoop, Spark, Digital Strategy, Data Architec...",UK - (london)
6,Jitendra Singh,Manager- Talent Acquisition,Compunnel Technology India Pvt. Ltd,"Python, Data Science, .Net, Java, Big Data, Da...",Delhi
7,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Apidel Technologies Division of Transpower,"Analytics, Business Intelligence, Business Ana...",Vadodara / Baroda
8,Institute for Financial Management and Resear,Programme Manager,IFMR,Data Science,Chennai
9,Balu Ramesh,HR Administrator,Techvantage Systems Pvt Ltd,"Machine Learning, algorithms, Go Getter, Compu...",Trivandrum
10,Asif Lucknowi,Director,Weupskill- Live Wire India,"Technical Training, Software Development, Pres...",Indore
11,InstaFinancials,Human Resource,CBL Data Science Private Limited,"Software Development, It Sales, Account Manage...",Bengaluru / Bangalore
12,Kalpana Dumpala,Executive Hiring,Innominds Software,"Qa, Ui/ux, Java Developer, Java Architect, C++...",Hyderabad / Secunderabad
13,Mubarak,Company HR,MoneyTap,"Business Intelligence, Data Warehousing, Data ...",Bengaluru / Bangalore
14,Kushal Rastogi,Company HR,QuantMagnum Technologies Pvt. Ltd.,"Office Administration, Hr Administration, tele...",Mumbai
15,Manisha Yadav,HR Executive,Easi Tax,"Telecalling, Client Interaction, Marketing, Re...",Navi Mumbai
16,Kapil Devang,HR Manager,BISP Solutions,"Big Data, Hadoop, Data Analytics, Data Science",Bhopal
17,Riya Rajesh,Manager Talent Acquisition,Novelworx Digital Solutions,Data Science,Cochin
18,Rakhi,Recruitment Consultant,Walkingtext Private Limited,"Ites, Data Science, Cloud, Iot",Bengaluru / Bangalore
19,Mahesh Babu Channa,HR Team Lead,SocialPrachar.com,"Social Media, digital media maketing, seo, smm...",Hyderabad / Secunderabad
20,Rashmi Bhattacharjee,HR Head,AXESTRACK SOFTWARE SOLUTIONS PRIVATE...,"Corporate Sales, Software Development, Softwar...",Delhi
21,Faizan Kareem,HR MANAGER,FirstTech Consaltants Pvt.Ltd,"Data Analytics, Data Science, Machine Learning...",Hyderabad / Secunderabad
22,Rithika dadwal,HR Recruiter,Affine Analytics,"Data Science, Machine Learning, Python, R, Dee...",Pune
23,Azahar Shaikh,Company Recruiter,NEAL ANALYTICS SERVICES PVT LTD,"Data Science, Artificial Intelligence, Machine...",Pune
24,Pooja Seth,IT Technical Recruiter,RAPS iTech,"B.tech, Hr Mba, quality assurance engineering,...",Chandigarh
25,Sandhya Khandagale,HR Recruiter,Compumatrice Multimedia Pvt Ltd,"Big Data, Data Science, Artificial Intelligenc...",Pune
26,Shaun Rao,Manager Human Resources,Exela Technologies,"Java, Net, Angularjs, Hr, Infrastructure, Mana...",Pune
27,Manas,Lead Talent acquisition,Autumn Leaf Consulting Services Private...,"Software Architecture, Vp Engineering, Product...",Bengaluru / Bangalore
28,Srikanth Bellup,Director,TeachR Robotics Pvt. Ltd,"mechatronics, robotics, Home Automation, iot, ...",Hyderabad / Secunderabad
29,kumar,Proprietor,trainin,"Data Science, Hadoop, Rpas, Devops, Python, Aw...",Bengaluru / Bangalore
30,Sunil Vedula,CEO,Nanoprecise Sci Corp,"Signal Processing, Machine Learning, Neural Ne...",Delhi
31,Rajat Kumar,Founder CEO,R.S Consultancy &amp; Services,"Web Technologies, Project Management, Software...",Mysoru / Mysore
32,Jayanth N,Project Manager,"Dollarbird Information Services Pvt, Ltd","Data Analytics, Managed Services, Team Leading...",Noida
33,Prateek Kumar,Head,Trisect,"Java, Python, Angularjs, Software Testing, Mac...",Hyderabad / Secunderabad
34,SREEDHAR,Recruitment Consultant,JOBSMILL BUSINESS SOLUTIONS PRIVATE LIMITED,"Data Science, Machine Learning, Big Data Analy...",New Delhi
35,Amit Sharma,Consultant,ASCO consulting,"Machine Learning, Artificial Intelligence, Dat...",Chennai
36,Kanan,senior technology instructor,NY INST,"C, C++, Artificial Intelligence, Python, Php, ...",Aligarh
37,Shashikant Chaudhary,HR Recruiter/HR Excutive,3D India Staffing Research &amp; Consulting...,"Relationship Management, Retail Sales, Private...",Salt Lake City
38,Brad,"Manager, Technical Recruiting",O.C. Tanner,"Data Science, Software Engineering",Pune
39,Rutuja Pawar,Technical Recruiter,Demand Matrix,"Data Science, Big Data Analytics, Digital Mark...",Bengaluru / Bangalore
40,Madhusudhan Sridhar,Erp Implementer,MADHUSUDHAN SRIDHAR,"Data Science, Recruitment, Salary",Mumbai
41,Ankit Sinha,Head Analytics,Suntech Global,"B.Tech, Tableau, Statistics, R, Analytics, Tim...",Indore
42,Gaurav Chouhan,Chief Technical Officer,Strategic Consulting Lab,"Software Development, Business Intelligence, B...",Bengaluru / Bangalore
43,Rashi Kacker,Sr Product Manager,Impel Labs Pvt. Ltd.,"Data Science, Node.js, Angularjs",MYSORE
44,Ashwini,Director Global Delivery,MRP Advisers,"Data Science, Media Marketing, Resource Planni...",Hyderabad / Secunderabad
45,Balaji Kolli,Co Founder,Saras Solutions India Pvt Ltd,"Data Analysis, Learning, Data Science, Compute...",Bengaluru / Bangalore
46,Rajani Nagaraj,HR Manager,WildJasmine,"Java, Hadoop, R, Machine Learning, Spark, Flum...",Mumbai
47,ROHIT Kumar,Architect,LNT Private Limited,"Software Development, Core Java, Unit Testing,...",Noida
48,Amir Chowdhury,Managing Partner,Granular.ai,"Machine Learning, Data Science, Product Manage...",NaN
49,Shailja Mishra,HR Manager,Certybox Pvt.Ltd.,"consulting, Education Counseling, Educational ...",NaN

# Scrape the details of trending repositories on Github.com.

In [2]:
# Importing Libraries 
import numpy as np
import pandas as pd
from  selenium import webdriver
from time import sleep
import warnings
warnings.filterwarnings('ignore')
import time
import string
#Loading Driver
driver=webdriver.Edge(r"C:\Users\PANKAJ\Downloads\msedgedriver.exe")
# Giving the name of website we have to  scrap
url1 = "https://github.com/trending"
#Getting Url 
driver.get(url1)
# Details wich we want to scrap from the data
Repository_title=[]
Repository_description=[]
Contributors_count=[]
Language_used=[]
# lets scrap the data from the server
rt=driver.find_elements_by_xpath("//h1[@class='h3 lh-condensed']")
for r in rt:
    r_title=r.text
    Repository_title.append(r_title)
    R=pd.DataFrame(Repository_title)
    R=R.rename({0: 'Repository title'},axis=1)
rd=driver.find_elements_by_xpath("//p[@class='col-9 text-gray my-1 pr-4']")
for r1 in rd:
    r1_des=r1.text
    Repository_description.append(r1_des)
    R1=pd.DataFrame(Repository_description)
    R1=R1.rename({0: 'Repository_description'},axis=1)
ll=driver.find_elements_by_xpath("//span[@class='d-inline-block ml-0 mr-3']")
for l in ll:
    l_name=l.text
    Language_used.append(l_name)
    L=pd.DataFrame(Language_used)
    L=L.rename({0: 'Language_used'},axis=1)
cc=driver.find_elements_by_xpath("//a[@class='muted-link d-inline-block mr-3']") 
for c in cc:
    c_count=c.text
    Contributors_count.append(c_count)
    C=pd.DataFrame(Contributors_count)
    C=C.rename({0: 'Contributors Count'},axis=1)  
# now lets add the whole data in  the table
TR=pd.concat([R,R1,L,C] , axis=1)
TR[0:24]

,Repository title,Repository_description,Language_used,Contributors Count
0,WerWolv / ImHex,"A Hex Editor for Reverse Engineers, Programmer...",C++,"2,834"
1,nickmccullum / algorithmic-trading-python,The repository for freeCodeCamp's YouTube cour...,Jupyter Notebook,83
2,alacritty / alacritty,"A cross-platform, GPU-accelerated terminal emu...",Rust,118
3,bytefury / crater,Free & Open Source Invoice App for Freelancers...,PHP,49
4,jwasham / coding-interview-university,A complete computer science study plan to beco...,C,"28,196"
5,acidanthera / OpenCorePkg,OpenCore bootloader,JavaScript,"1,432"
6,github / docs,The open-source repo for docs.github.com,Python,"3,226"
7,3b1b / manim,Animation engine for explanatory math videos,Go,619
8,rclone / rclone,"""rsync for cloud storage"" - Google Drive, Amaz...",Ruby,"144,619"
9,rapid7 / metasploit-framework,Metasploit Framework,TypeScript,"40,802"
10,CSSEGISandData / COVID-19,"Novel Coronavirus (COVID-19) Cases, provided b...",Python,"5,571"
11,ottomated / CrewLink-server,Voice Relay server for CrewLink.,C#,963
12,public-apis / public-apis,A collective list of free APIs for use in soft...,Python,"1,716"
13,SebLague / Digital-Logic-Sim,A list of useful payloads and bypass for Web A...,Go,"5,592"
14,swisskyrepo / PayloadsAllTheThings,🗂 The perfect Front-End Checklist for modern w...,Python,"28,654"
15,thedaviddias / Front-End-Checklist,Docker-compatible CLI for containerd,Python,"3,659"
16,AkihiroSuda / nerdctl,RESTler is the first stateful REST API fuzzing...,TypeScript,"24,664"
17,microsoft / restler-fuzzer,🏡 Open source home automation that puts local ...,C++,"2,129"
18,home-assistant / core,"Free, open, Among Us Proximity Chat",Vim script,"22,382"
19,ottomated / CrewLink,Animated sprite editor & pixel art tool (Windo...,Python,"10,725"
20,aseprite / aseprite,Vim-fork focused on extensibility and usability,JavaScript,"24,991"
21,neovim / neovim,Deep learning models for guitar amp/pedal emul...,Go,"15,993"
22,GuitarML / GuitarLSTM,A powerful JavaScript library for interacting ...,NaN,145
23,discordjs / discord.js,A modern tool for the Windows kernel explorati...,NaN,68

# Scrape the details of top 100 songs on billiboard.com.

In [9]:
# importing the library in juypter notebook
import pandas as pd
import selenium
from selenium import webdriver
# importing web driver from its location
driver=webdriver.Edge(r"C:\Users\PANKAJ\Downloads\msedgedriver.exe")
Url = 'https://www.billboard.com/charts/hot-100'
driver.get(Url)
# finding the state wise attached detail
Song=[]
Artist=[]
Last_Week_Rank=[]
Peak_Rank=[]
Weeks_On_Board=[]
# lets scrap the data from the server
song=driver.find_elements_by_xpath("//span[@class='chart-element__information__song text--truncate color--primary']")
for so in song:
    so_song=so.text
    Song.append(so_song)
    S=pd.DataFrame(Song)
    S=S.rename({0: 'Song'},axis=1)
artist=driver.find_elements_by_xpath("//span[@class='chart-element__information__artist text--truncate color--secondary']")
for ar in artist:
    ar_song=ar.text
    Artist.append(ar_song)
    A=pd.DataFrame(Artist)
    A=A.rename({0: 'Artist'},axis=1)
lwr=driver.find_elements_by_xpath("//div[@class='chart-element__metas chart-element__metas--large display--flex flex--y-center']/div[2]")
for lw in lwr:
    lw_song=lw.text
    Last_Week_Rank.append(lw_song)
    L=pd.DataFrame(Last_Week_Rank)
    L=L.rename({0: 'Last_Week_Rank'},axis=1)
pr=driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--peak']")
for p in pr:
    pr_song=p.text
    Peak_Rank.append(pr_song)
    P=pd.DataFrame(Peak_Rank)
    P=P.rename({0: 'Peak_Rank'},axis=1)   
wob=driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--week']")
for w in wob:
    w_song=w.text
    Weeks_On_Board.append(w_song)
    W=pd.DataFrame(Weeks_On_Board)
    W=W.rename({0: 'Weeks_On_Board'},axis=1)   
#Lets create a table of top 100 movies data
movies=pd.concat([S,A,L,P,W] , axis=1)
movies

,Song,Artist,Last_Week_Rank,Peak_Rank,Weeks_On_Board
0,Life Goes On,BTS,-,1,1
1,Mood,24kGoldn Featuring iann dior,1,1,16
2,Dynamite,BTS,14,1,14
3,Positions,Ariana Grande,3,1,5
4,I Hope,Gabby Barrett Featuring Charlie Puth,3,3,48
...,...,...,...,...,...
95,Popstar,DJ Khaled Featuring Drake,3,3,19
96,Bichota,Karol G,-,97,1
97,Happy Does,Kenny Chesney,85,85,6
98,Cover Me Up,Morgan Wallen,-,99,1
99,So Done,The Kid LAROI,59,59,5

# Scrape the details of State-wise GDP of India from statisticstime.com.

In [4]:
# importing the library in juypter notebook
import pandas as pd
import selenium
from selenium import webdriver
# importing web driver from its location
driver=webdriver.Edge(r"C:\Users\PANKAJ\Downloads\msedgedriver.exe")
Url = 'http://statisticstimes.com/economy/gdp-of-indian-states.php'
driver.get(Url)
# finding the state wise attached detail
Rank=[]
State=[]
GSDP18=[]
GSDP17=[]
Share17=[]
GDP=[]
# lets scrap the data from the server
rank=driver.find_elements_by_xpath("//tr[@class='odd']/td[1]")
for r in rank:
    r_rank=r.text
    Rank.append(r_rank)
    R=pd.DataFrame(Rank)
    R=R.rename({0: 'Rank'},axis=1)
state=driver.find_elements_by_xpath("//tr[@class='odd']/td[2]")
for s in state:
    s_state=s.text
    State.append(s_state) 
    S=pd.DataFrame(State)
    S=S.rename({0: 'State'},axis=1)
gsdp=driver.find_elements_by_xpath("//tr[@class='odd']/td[3]")
for g in gsdp:
    g_gsdp=g.text
    GSDP18.append(g_gsdp)
    G=pd.DataFrame(GSDP18)
    G=G.rename({0: 'GSDP(18-19)'},axis=1)
gsdp1=driver.find_elements_by_xpath("//tr[@class='odd']/td[4]")
for g1 in gsdp1:
    g_gsdp1=g1.text
    GSDP17.append(g_gsdp1)
    G1=pd.DataFrame(GSDP17)
    G1=G1.rename({0: 'GSDP(17-18)'},axis=1)
share=driver.find_elements_by_xpath("//tr[@class='odd']/td[5]")
for s1 in share:
    s_share=s1.text
    Share17.append(s_share)
    S1=pd.DataFrame(Share17)
    S1=S1.rename({0: 'Share(2017)'},axis=1)
gdp=driver.find_elements_by_xpath("//tr[@class='odd']/td[6]")
for gb in gdp:
    gb_gdp=gb.text
    GDP.append(gb_gdp)
    GB=pd.DataFrame(GDP)
    GB=GB.rename({0: 'GDP($ billion)'},axis=1)
# Now Lets create the State wise GPD Table 
df=pd.concat([R,S,G,G1,S1,GB] , axis=1)
df

,Rank,State,GSDP(18-19),GSDP(17-18),Share(2017),GDP($ billion)
0,1,Maharashtra,-,"2,411,600",14.11%,374.196
1,3,Uttar Pradesh,"1,542,432","1,376,324",8.05%,213.558
2,5,Gujarat,-,"1,314,680",7.69%,203.993
3,7,Rajasthan,"929,124","835,558",4.89%,129.650
4,9,Telangana,"865,688","753,811",4.41%,116.965
5,11,Kerala,-,"700,532",4.10%,108.698
6,13,Haryana,"707,126","626,054",3.66%,97.142
7,15,Punjab,"521,861","479,141",2.80%,74.346
8,17,Assam,-,"288,494",1.69%,44.764
9,19,Jharkhand,"307,581","276,243",1.62%,42.863
10,21,Himachal Pradesh,"153,181","140,613",0.82%,21.818
11,23,Goa,"77,172","70,493",0.41%,10.938
12,25,Chandigarh,-,"38,806",0.23%,6.021
13,27,Meghalaya,-,"30,790",0.18%,4.778
14,29,Manipur,-,"23,968",0.14%,3.719
15,31,Arunachal Pradesh,-,"22,045",0.13%,3.421
16,33,Andaman & Nicobar Islands,-,"7,871",0.05%,1.221
17,1,Maharashtra,-,"2,139,378",14.14%,-
18,3,Karnataka,"1,398,579","1,231,090",8.14%,"1,026,675"
19,5,Gujarat,-,"1,151,150",7.61%,-
20,7,Rajasthan,"833,777","749,462",4.95%,"602,078"
21,9,Telangana,"786,991","684,500",4.52%,"555,084"
22,11,Kerala,-,"634,675",4.20%,-
23,13,Haryana,"639,273","565,509",3.74%,"474,451"
24,15,Punjab,"473,379","431,127",2.85%,"355,872"
25,17,Chhattisgarh,"279,441","254,925",1.69%,"206,015"
26,19,Assam,-,"251,588",1.66%,-
27,21,Himachal Pradesh,"131,638","121,491",0.80%,"100,558"
28,23,Goa,"71,884","64,420",0.43%,"56,634"
29,25,Chandigarh,-,"34,578",0.23%,-
30,27,Meghalaya,-,"27,679",0.18%,-
31,29,Nagaland,-,"21,532",0.14%,-
32,31,Arunachal Pradesh,-,"20,171",0.13%,-
33,33,Andaman & Nicobar Islands,-,"7,041",0.05%,-

# Scrape the details of Highest selling novels.

In [5]:
# Importing Libraries 

import numpy as np
import pandas as pd
from  selenium import webdriver
from time import sleep
import warnings
warnings.filterwarnings('ignore')

#Loading Driver
driver=webdriver.Edge(r"C:\Users\PANKAJ\Downloads\msedgedriver.exe")

# Giving the name of website we have to  scrap
url = "https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare"

#Getting Url 
driver.get(url)

book_name = []
author_name  = []
volumes_sold  = []
publisher  = []
genre  = []
# lets scrap the data from the server
Task1 = driver.find_elements_by_xpath("//tbody/tr/td[2]")

for qt in Task1:
    qx = qt.text
    book_name.append(qx)

book_name1 =pd.DataFrame(book_name)
book_name2= book_name1.rename(columns = { 0: 'Book Name'})

Task2 = driver.find_elements_by_xpath("//tbody/tr/td[3]")

for qm in Task2:
    ql = qm.text
    author_name.append(ql)

author_name1 = pd.DataFrame(author_name)
author_name2 = author_name1.rename(columns= {0:'Author Name'})

Task3 = driver.find_elements_by_xpath("//tbody/tr/td[4]")

for wp in Task3:
    wm = wp.text
    volumes_sold.append(wm)
volumes_sold[0:5]

volumes_sold1 = pd.DataFrame(volumes_sold)
volumes_sold2 =  volumes_sold1.rename (columns ={ 0: 'Volumes Sold'})

Task4 = driver.find_elements_by_xpath("//tbody/tr/td[5]")

for ap in Task4:
    ac = ap.text
    publisher.append(ac)

publisher1 = pd.DataFrame(publisher)
publisher2 = publisher1.rename(columns = { 0 : 'Publisher'})

Task5 = driver.find_elements_by_xpath("//tbody/tr/td[6]")

for vp in Task5:
    qf = vp.text
    genre.append(qf)

genre1 = pd.DataFrame(genre)
genre2 = genre1.rename (columns = { 0: 'Genre'})

Highest_Selling_Novels = pd.concat( [book_name2 , author_name2 , volumes_sold2 , publisher2 ,genre2]  , axis = 1)
Highest_Selling_Novels

,Book Name,Author Name,Volumes Sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

# Scrape the details of selenium exception from guru99.com.

In [10]:
# Importing Libraries 

import numpy as np
import pandas as pd
from  selenium import webdriver
from time import sleep
import warnings
warnings.filterwarnings('ignore')
import time
import string

#Loading Driver
driver=webdriver.Edge(r"C:\Users\PANKAJ\Downloads\msedgedriver.exe")

# Giving the name of website we have to  scrap
url1 = "https://www.guru99.com/"

#Getting Url 
driver.get(url1)

time.sleep(8)


Exception_Name = []
Description = []

Task6 = driver.find_element_by_xpath("//ul[@class='menu']/li[3]/a[@title='Selenium']")
Task6.click()

Task7 = driver.find_element_by_xpath("//td[@class='responsivetable']/a[@title='Selenium Exception Handling (Common Exceptions List)']/strong")
Task7.click()

Task8 = driver.find_elements_by_xpath("//table[@class='table table-striped']/tbody/tr/td[1] /strong")

for qm in Task8:
    ap = qm.text
    Exception_Name.append(ap)

Exception_Name1 = pd.DataFrame(Exception_Name)
Exception_Name2= Exception_Name1.rename(columns = { 0:'Exception Name'})

Exception_Name3 =Exception_Name2.iloc[1:42]

Task9 = driver.find_elements_by_xpath("//table[@class='table table-striped']/tbody/tr/td[2] /strong")
s
for qmb in Task9:
    apb = qmb.text
    Description.append(apb)

Description1 = pd.DataFrame(Description)
Description2= Description1.rename(columns = { 0:'Description'})

Description3 = Description2.iloc[1:42]

Selenium_Exception = pd.concat([Exception_Name3,Description3 ] , axis=1)
Selenium_Exception

Empty DataFrame
Columns: []
Index: []

In [7]:
dff=driver.find_elements_by_xpath("//table[@class='table table-striped']/tbody/tr/td[1]/ strong")
dff[0:10]

[]