In [213]:
import pandas as pd
from bs4 import BeautifulSoup
import requests
odi=requests.get("https://www.icc-cricket.com/rankings/mens/team-rankings/odi")
odi1=BeautifulSoup(odi.content,'html.parser')

In [214]:
# we are finding the top 10 odi teams , matches ,points and their Ratings
Team=[]
Matches=[]
Points=[]
Ratings=[]

In [215]:
odi1.title.text

'ICC Ranking for ODI teams International Cricket Council'

In [216]:
matches=odi1.find('tbody').findAll('tr')
matches

[<tr class="rankings-block__banner">
 <td class="rankings-block__banner--pos">1</td>
 <td class="rankings-block__banner--team-name">
 <span class="flag-30 rankings-block__banner--flag ENG"></span>
 <span class="u-hide-phablet">England</span>
 <span class="u-show-phablet">ENG</span>
 </td>
 <td class="rankings-block__banner--matches">44</td>
 <td class="rankings-block__banner--points">5,405</td>
 <td class="rankings-block__banner--rating u-text-right">
                             123
                             <span class="circle-branding circle-branding--top"></span>
 <span class="circle-branding circle-branding--bottom"></span>
 </td>
 </tr>,
 <tr class="table-body" data-team-id="14">
 <td class="table-body__cell table-body__cell--position u-text-right">2</td>
 <td class="table-body__cell rankings-table__team">
 <span class="flag-15 table-body_logo IND"></span>
 <span class="u-hide-phablet">India</span>
 <span class="u-show-phablet">IND</span>
 </td>
 <td class="table-body__cell u-center-text">49</td>
 <td class="table-body__cell u-center-text">5,819</td>
 <td class="table-body__cell u-text-right rating">119</td>
 </tr>,
 <tr class="table-body" data-team-id="16">
 <td class="table-body__cell table-body__cell--position u-text-right">3</td>
 <td class="table-body__cell rankings-table__team">
 <span class="flag-15 table-body_logo NZ"></span>
 <span class="u-hide-phablet">New Zealand</span>
 <span class="u-show-phablet">NZ</span>
 </td>
 <td class="table-body__cell u-center-text">32</td>
 <td class="table-body__cell u-center-text">3,716</td>
 <td class="table-body__cell u-text-right rating">116</td>
 </tr>,
 <tr class="table-body" data-team-id="15">
 <td class="table-body__cell table-body__cell--position u-text-right">4</td>
 <td class="table-body__cell rankings-table__team">
 <span class="flag-15 table-body_logo AUS"></span>
 <span class="u-hide-phablet">Australia</span>
 <span class="u-show-phablet">AUS</span>
 </td>
 <td class="table-body__cell u-center-text">36</td>
 <td class="table-body__cell u-center-text">3,941</td>
 <td class="table-body__cell u-text-right rating">109</td>
 </tr>,
 <tr class="table-body" data-team-id="19">
 <td class="table-body__cell table-body__cell--position u-text-right">5</td>
 <td class="table-body__cell rankings-table__team">
 <span class="flag-15 table-body_logo SA"></span>
 <span class="u-hide-phablet">South Africa</span>
 <span class="u-show-phablet">SA</span>
 </td>
 <td class="table-body__cell u-center-text">31</td>
 <td class="table-body__cell u-center-text">3,345</td>
 <td class="table-body__cell u-text-right rating">108</td>
 </tr>,
 <tr class="table-body" data-team-id="20">
 <td class="table-body__cell table-body__cell--position u-text-right">6</td>
 <td class="table-body__cell rankings-table__team">
 <span class="flag-15 table-body_logo PAK"></span>
 <span class="u-hide-phablet">Pakistan</span>
 <span class="u-show-phablet">PAK</span>
 </td>
 <td class="table-body__cell u-center-text">33</td>
 <td class="table-body__cell u-center-text">3,366</td>
 <td class="table-body__cell u-text-right rating">102</td>
 </tr>,
 <tr class="table-body" data-team-id="22">
 <td class="table-body__cell table-body__cell--position u-text-right">7</td>
 <td class="table-body__cell rankings-table__team">
 <span class="flag-15 table-body_logo BAN"></span>
 <span class="u-hide-phablet">Bangladesh</span>
 <span class="u-show-phablet">BAN</span>
 </td>
 <td class="table-body__cell u-center-text">34</td>
 <td class="table-body__cell u-center-text">2,989</td>
 <td class="table-body__cell u-text-right rating">88</td>
 </tr>,
 <tr class="table-body" data-team-id="13">
 <td class="table-body__cell table-body__cell--position u-text-right">8</td>
 <td class="table-body__cell rankings-table__team">
 <span class="flag-15 table-body_logo SL"></span>
 <span class="u-hide-phablet">Sri Lanka</span>
 <span class="u-show-phablet">SL</span>
 </td>
 <td class="table-body__cell u-center-text">39</td>
 <td class="table-body__cell u-center-text">3,297</td>
 <td class="table-body__cell u-text-right rating">85</td>
 </tr>,
 <tr class="table-body" data-team-id="21">
 <td class="table-body__cell table-body__cell--position u-text-right">9</td>
 <td class="table-body__cell rankings-table__team">
 <span class="flag-15 table-body_logo WI"></span>
 <span class="u-hide-phablet">West Indies</span>
 <span class="u-show-phablet">WI</span>
 </td>
 <td class="table-body__cell u-center-text">43</td>
 <td class="table-body__cell u-center-text">3,285</td>
 <td class="table-body__cell u-text-right rating">76</td>
 </tr>,
 <tr class="table-body" data-team-id="17">
 <td class="table-body__cell table-body__cell--position u-text-right">10</td>
 <td class="table-body__cell rankings-table__team">
 <span class="flag-15 table-body_logo AFG"></span>
 <span class="u-hide-phablet">Afghanistan</span>
 <span class="u-show-phablet">AFG</span>
 </td>
 <td class="table-body__cell u-center-text">28</td>
 <td class="table-body__cell u-center-text">1,549</td>
 <td class="table-body__cell u-text-right rating">55</td>
 </tr>,
 <tr class="table-body" data-team-id="12">
 <td class="table-body__cell table-body__cell--position u-text-right">11</td>
 <td class="table-body__cell rankings-table__team">
 <span class="flag-15 table-body_logo IRE"></span>
 <span class="u-hide-phablet">Ireland</span>
 <span class="u-show-phablet">IRE</span>
 </td>
 <td class="table-body__cell u-center-text">24</td>
 <td class="table-body__cell u-center-text">1,256</td>
 <td class="table-body__cell u-text-right rating">52</td>
 </tr>,
 <tr class="table-body" data-team-id="68">
 <td class="table-body__cell table-body__cell--position u-text-right">12</td>
 <td class="table-body__cell rankings-table__team">
 <span class="flag-15 table-body_logo NED"></span>
 <span class="u-hide-phablet">Netherlands</span>
 <span class="u-show-phablet">NED</span>
 </td>
 <td class="table-body__cell u-center-text">5</td>
 <td class="table-body__cell u-center-text">222</td>
 <td class="table-body__cell u-text-right rating">44</td>
 </tr>,
 <tr class="table-body" data-team-id="128">
 <td class="table-body__cell table-body__cell--position u-text-right">13</td>
 <td class="table-body__cell rankings-table__team">
 <span class="flag-15 table-body_logo OMA"></span>
 <span class="u-hide-phablet">Oman</span>
 <span class="u-show-phablet">OMA</span>
 </td>
 <td class="table-body__cell u-center-text">12</td>
 <td class="table-body__cell u-center-text">479</td>
 <td class="table-body__cell u-text-right rating">40</td>
 </tr>,
 <tr class="table-body" data-team-id="18">
 <td class="table-body__cell table-body__cell--position u-text-right">14</td>
 <td class="table-body__cell rankings-table__team">
 <span class="flag-15 table-body_logo ZIM"></span>
 <span class="u-hide-phablet">Zimbabwe</span>
 <span class="u-show-phablet">ZIM</span>
 </td>
 <td class="table-body__cell u-center-text">25</td>
 <td class="table-body__cell u-center-text">964</td>
 <td class="table-body__cell u-text-right rating">39</td>
 </tr>,
 <tr class="table-body" data-team-id="69">
 <td class="table-body__cell table-body__cell--position u-text-right">15</td>
 <td class="table-body__cell rankings-table__team">
 <span class="flag-15 table-body_logo SCO"></span>
 <span class="u-hide-phablet">Scotland</span>
 <span class="u-show-phablet">SCO</span>
 </td>
 <td class="table-body__cell u-center-text">16</td>
 <td class="table-body__cell u-center-text">419</td>
 <td class="table-body__cell u-text-right rating">26</td>
 </tr>,
 <tr class="table-body" data-team-id="125">
 <td class="table-body__cell table-body__cell--position u-text-right">16</td>
 <td class="table-body__cell rankings-table__team">
 <span class="flag-15 table-body_logo NEP"></span>
 <span class="u-hide-phablet">Nepal</span>
 <span class="u-show-phablet">NEP</span>
 </td>
 <td class="table-body__cell u-center-text">9</td>
 <td class="table-body__cell u-center-text">161</td>
 <td class="table-body__cell u-text-right rating">18</td>
 </tr>,
 <tr class="table-body" data-team-id="155">
 <td class="table-body__cell table-body__cell--position u-text-right">17</td>
 <td class="table-body__cell rankings-table__team">
 <span class="flag-15 table-body_logo UAE"></span>
 <span class="u-hide-phablet">UAE</span>
 <span class="u-show-phablet">UAE</span>
 </td>
 <td class="table-body__cell u-center-text">15</td>
 <td class="table-body__cell u-center-text">259</td>
 <td class="table-body__cell u-text-right rating">17</td>
 </tr>,
 <tr class="table-body" data-team-id="124">
 <td class="table-body__cell table-body__cell--position u-text-right">18</td>
 <td class="table-body__cell rankings-table__team">
 <span class="flag-15 table-body_logo NAM"></span>
 <span class="u-hide-phablet">Namibia</span>
 <span class="u-show-phablet">NAM</span>
 </td>
 <td class="table-body__cell u-center-text">9</td>
 <td class="table-body__cell u-center-text">152</td>
 <td class="table-body__cell u-text-right rating">17</td>
 </tr>,
 <tr class="table-body" data-team-id="157">
 <td class="table-body__cell table-body__cell--position u-text-right">19</td>
 <td class="table-body__cell rankings-table__team">
 <span class="flag-15 table-body_logo USA"></span>
 <span class="u-hide-phablet">United States</span>
 <span class="u-show-phablet">USA</span>
 </td>
 <td class="table-body__cell u-center-text">14</td>
 <td class="table-body__cell u-center-text">185</td>
 <td class="table-body__cell u-text-right rating">13</td>
 </tr>,
 <tr class="table-body" data-team-id="133">
 <td class="table-body__cell table-body__cell--position u-text-right">20</td>
 <td class="table-body__cell rankings-table__team">
 <span class="flag-15 table-body_logo PNG"></span>
 <span class="u-hide-phablet">Papua New Guinea</span>
 <span class="u-show-phablet">PNG</span>
 </td>
 <td class="table-body__cell u-center-text">14</td>
 <td class="table-body__cell u-center-text">0</td>
 <td class="table-body__cell u-text-right rating">0</td>
 </tr>]

In [217]:
teams=odi1.find_all('span',class_="u-hide-phablet")
teams[0:10]

[<span class="u-hide-phablet">England</span>,
 <span class="u-hide-phablet">India</span>,
 <span class="u-hide-phablet">New Zealand</span>,
 <span class="u-hide-phablet">Australia</span>,
 <span class="u-hide-phablet">South Africa</span>,
 <span class="u-hide-phablet">Pakistan</span>,
 <span class="u-hide-phablet">Bangladesh</span>,
 <span class="u-hide-phablet">Sri Lanka</span>,
 <span class="u-hide-phablet">West Indies</span>,
 <span class="u-hide-phablet">Afghanistan</span>]

In [218]:
for i in teams:
    Team.append(i.get_text())
Team[0:10]

['England',
 'India',
 'New Zealand',
 'Australia',
 'South Africa',
 'Pakistan',
 'Bangladesh',
 'Sri Lanka',
 'West Indies',
 'Afghanistan']

In [219]:
match=odi1.find_all('td',class_="table-body__cell u-center-text")
match

[<td class="table-body__cell u-center-text">49</td>,
 <td class="table-body__cell u-center-text">5,819</td>,
 <td class="table-body__cell u-center-text">32</td>,
 <td class="table-body__cell u-center-text">3,716</td>,
 <td class="table-body__cell u-center-text">36</td>,
 <td class="table-body__cell u-center-text">3,941</td>,
 <td class="table-body__cell u-center-text">31</td>,
 <td class="table-body__cell u-center-text">3,345</td>,
 <td class="table-body__cell u-center-text">33</td>,
 <td class="table-body__cell u-center-text">3,366</td>,
 <td class="table-body__cell u-center-text">34</td>,
 <td class="table-body__cell u-center-text">2,989</td>,
 <td class="table-body__cell u-center-text">39</td>,
 <td class="table-body__cell u-center-text">3,297</td>,
 <td class="table-body__cell u-center-text">43</td>,
 <td class="table-body__cell u-center-text">3,285</td>,
 <td class="table-body__cell u-center-text">28</td>,
 <td class="table-body__cell u-center-text">1,549</td>,
 <td class="table-body__cell u-center-text">24</td>,
 <td class="table-body__cell u-center-text">1,256</td>,
 <td class="table-body__cell u-center-text">5</td>,
 <td class="table-body__cell u-center-text">222</td>,
 <td class="table-body__cell u-center-text">12</td>,
 <td class="table-body__cell u-center-text">479</td>,
 <td class="table-body__cell u-center-text">25</td>,
 <td class="table-body__cell u-center-text">964</td>,
 <td class="table-body__cell u-center-text">16</td>,
 <td class="table-body__cell u-center-text">419</td>,
 <td class="table-body__cell u-center-text">9</td>,
 <td class="table-body__cell u-center-text">161</td>,
 <td class="table-body__cell u-center-text">15</td>,
 <td class="table-body__cell u-center-text">259</td>,
 <td class="table-body__cell u-center-text">9</td>,
 <td class="table-body__cell u-center-text">152</td>,
 <td class="table-body__cell u-center-text">14</td>,
 <td class="table-body__cell u-center-text">185</td>,
 <td class="table-body__cell u-center-text">14</td>,
 <td class="table-body__cell u-center-text">0</td>]

In [220]:
first_match=match[0:20:2]

In [221]:
first_match

[<td class="table-body__cell u-center-text">49</td>,
 <td class="table-body__cell u-center-text">32</td>,
 <td class="table-body__cell u-center-text">36</td>,
 <td class="table-body__cell u-center-text">31</td>,
 <td class="table-body__cell u-center-text">33</td>,
 <td class="table-body__cell u-center-text">34</td>,
 <td class="table-body__cell u-center-text">39</td>,
 <td class="table-body__cell u-center-text">43</td>,
 <td class="table-body__cell u-center-text">28</td>,
 <td class="table-body__cell u-center-text">24</td>]

In [222]:
for i in first_match:
    Matches.append(i.get_text())
Matches[0:9]

['49', '32', '36', '31', '33', '34', '39', '43', '28']

In [223]:
m1=pd.DataFrame(Matches)

In [224]:
m2=odi1.find_all('td',class_="rankings-block__banner--matches")
m2

In [225]:
n1=[]

In [226]:
for i in m2:
    n1.append(i.get_text())
n1[0:10]

['44']

In [227]:
m3=pd.DataFrame(n1)

In [236]:
TM=pd.concat([m3,m1])

In [238]:
TM[0:10]

    0
0  44
0  49
1  32
2  36
3  31
4  33
5  34
6  39
7  43
8  28

In [229]:
first_point=match[1:20:2]

In [230]:
first_point

[<td class="table-body__cell u-center-text">5,819</td>,
 <td class="table-body__cell u-center-text">3,716</td>,
 <td class="table-body__cell u-center-text">3,941</td>,
 <td class="table-body__cell u-center-text">3,345</td>,
 <td class="table-body__cell u-center-text">3,366</td>,
 <td class="table-body__cell u-center-text">2,989</td>,
 <td class="table-body__cell u-center-text">3,297</td>,
 <td class="table-body__cell u-center-text">3,285</td>,
 <td class="table-body__cell u-center-text">1,549</td>,
 <td class="table-body__cell u-center-text">1,256</td>]

In [231]:
for i in first_point:
    Points.append(i.get_text())
Points[0:9]

['5,819',
 '3,716',
 '3,941',
 '3,345',
 '3,366',
 '2,989',
 '3,297',
 '3,285',
 '1,549']

In [232]:
rating=odi1.find_all('td',class_="table-body__cell u-text-right rating")
rating[0:9]

[<td class="table-body__cell u-text-right rating">119</td>,
 <td class="table-body__cell u-text-right rating">116</td>,
 <td class="table-body__cell u-text-right rating">109</td>,
 <td class="table-body__cell u-text-right rating">108</td>,
 <td class="table-body__cell u-text-right rating">102</td>,
 <td class="table-body__cell u-text-right rating">88</td>,
 <td class="table-body__cell u-text-right rating">85</td>,
 <td class="table-body__cell u-text-right rating">76</td>,
 <td class="table-body__cell u-text-right rating">55</td>]

In [233]:
for i in rating:
    Ratings.append(i.get_text())
Ratings[0:9]

['119', '116', '109', '108', '102', '88', '85', '76', '55']

In [239]:
print(len(Team),len(Points),len(Ratings),len(TM))

25 10 19 11