In [79]:
# Importing Libraries 

import numpy as np 
import  pandas as pd
from selenium import webdriver
from time import  sleep
import time
import string
from random import randint
import warnings
warnings.filterwarnings("ignore")

In [80]:
driver=webdriver.Edge(r"C:\Users\PANKAJ\Downloads\msedgedriver.exe")
# name of the website that we have to  scrap
url = "https://www.flipkart.com/search?q=sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off"
# Getting Url
driver.get(url)

In [81]:
# we are finding the below attached details from the web site
Brand = []
Product_Description = []
Price = []
Discount = []

In [82]:
# lets finidng the name of the brands 
Task4 = driver.find_elements_by_xpath("//div[@class='_2B_pmu']")
Task4

[<selenium.webdriver.remote.webelement.WebElement (session="c32d946d9a18925f1d98dc1fd4213407", element="e70cb125-cf5e-4d85-a0f0-f6b0caef0d54")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c32d946d9a18925f1d98dc1fd4213407", element="ac5af65e-b5f2-44ed-b465-8f0c4ddf6c2c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c32d946d9a18925f1d98dc1fd4213407", element="23579b48-ec69-437d-86b2-fc4a2c9d080a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c32d946d9a18925f1d98dc1fd4213407", element="664e6443-01d7-4aee-83fc-191f024d3d68")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c32d946d9a18925f1d98dc1fd4213407", element="43d6c0c2-8105-47f6-ad1b-c552800153b8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c32d946d9a18925f1d98dc1fd4213407", element="bb17390a-5a1b-4dc3-868c-1d299c33cbc6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c32d946d9a18925f1d98dc1fd4213407", element="8f51986a-d2fe-4547-b4e6-82007866deb4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c32d946d9a18925f1d98dc1fd4213407", element="a827fd59-5533-4ba1-a1ed-f0afdaadd40f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c32d946d9a18925f1d98dc1fd4213407", element="b3f87607-a924-443d-807f-c1f977cc1877")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c32d946d9a18925f1d98dc1fd4213407", element="67f38f2a-1f7e-4a4c-af29-43f64f377efc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c32d946d9a18925f1d98dc1fd4213407", element="0a879b70-dcbe-4ba7-8cf4-a02132da7a13")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c32d946d9a18925f1d98dc1fd4213407", element="649e04c3-edbd-4675-b910-db1b36eb694f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c32d946d9a18925f1d98dc1fd4213407", element="1986deb4-ee34-49fc-bbfb-79382341580a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c32d946d9a18925f1d98dc1fd4213407", element="aca15270-ff67-47f1-b99b-ee07dd89ce8a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c32d946d9a18925f1d98dc1fd4213407", element="92567bf6-765d-4f8b-beb0-da7000ade66e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c32d946d9a18925f1d98dc1fd4213407", element="24bbbbb8-2531-4528-9400-f9ab51ef49be")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c32d946d9a18925f1d98dc1fd4213407", element="e994ba3c-d241-4d80-b6d2-32cab0d691ac")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c32d946d9a18925f1d98dc1fd4213407", element="256e2f77-2459-4df1-afe9-fb53a12d4d4a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c32d946d9a18925f1d98dc1fd4213407", element="a5454071-00fc-4e6e-85b0-9052fb1aba32")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c32d946d9a18925f1d98dc1fd4213407", element="cb637322-aece-492f-8094-88cb57e77fa6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c32d946d9a18925f1d98dc1fd4213407", element="4669d501-accd-48d1-95f7-f79397f37b10")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c32d946d9a18925f1d98dc1fd4213407", element="c6e8075d-3968-4625-ad77-79740b38e7a0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c32d946d9a18925f1d98dc1fd4213407", element="5061fc18-d99f-4f44-a431-ec0b193bb99b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c32d946d9a18925f1d98dc1fd4213407", element="e8abef52-2086-4a81-bf04-6d9811811052")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c32d946d9a18925f1d98dc1fd4213407", element="f2119f6e-86e9-4e56-ba08-18faf28247be")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c32d946d9a18925f1d98dc1fd4213407", element="5e5875f6-98f8-46d4-8888-30502944ea45")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c32d946d9a18925f1d98dc1fd4213407", element="a3b0d725-bade-4085-a883-257ee000ae0c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c32d946d9a18925f1d98dc1fd4213407", element="3eb76799-919e-4faf-a230-414b1b7dc1cd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c32d946d9a18925f1d98dc1fd4213407", element="e74ff2cc-c765-4322-9cfd-16035877d9f7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c32d946d9a18925f1d98dc1fd4213407", element="b31d01db-3aec-4e48-8c51-41617d20b608")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c32d946d9a18925f1d98dc1fd4213407", element="85dcd0e8-6700-46bc-b503-d5134a663b7f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c32d946d9a18925f1d98dc1fd4213407", element="2171f7f5-6ec2-4b84-8675-234204d59ea7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c32d946d9a18925f1d98dc1fd4213407", element="4cd9211b-a5ed-40c9-ad21-557b44d9a60c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c32d946d9a18925f1d98dc1fd4213407", element="70d0ecbf-b5c9-4a1d-8cbf-9cc911d6b8e9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c32d946d9a18925f1d98dc1fd4213407", element="a10f8966-9839-4d47-88e0-db4c9efa897a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c32d946d9a18925f1d98dc1fd4213407", element="4a40188d-a822-4f31-a1b3-fd76120e44c0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c32d946d9a18925f1d98dc1fd4213407", element="cc693406-b619-4475-ab08-a66fb6d27b69")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c32d946d9a18925f1d98dc1fd4213407", element="354d3709-d98e-4607-904e-bb8ec636234b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c32d946d9a18925f1d98dc1fd4213407", element="60e3bdc7-bd36-4f58-a7d4-a17f1911e8f0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c32d946d9a18925f1d98dc1fd4213407", element="1e8ad11e-51ae-48c7-bedb-bb17ec8b40ca")>]

In [83]:
# lets scrap the brand names from the tag with the help of for loop 
for i in Task4:
    qz = i.text
    Brand.append(qz)

In [84]:
# lets create the dataframe of that brands
Brand1 = pd.DataFrame(Brand)
Brand1 = Brand1.rename(columns = { 0 : 'Brand'})
Brand1

                  Brand
0                 WROGN
1                 Lotto
2                Chevit
3                Chevit
4                Chevit
5                Chevit
6              Hotstyle
7              Red Tape
8                 Birde
9            D-SNEAKERZ
10         Robbie jones
11                WROGN
12               Chevit
13         Stefano Rads
14             Next INN
15                 Puma
16              Essence
17              Believe
18              Essence
19         JACK & JONES
20               BRUTON
21                Sparx
22           Shoes Bank
23                 Puma
24         Robbie jones
25                 Aadi
26  World Wear Footwear
27                 Nike
28             Magnolia
29  World Wear Footwear
30               Chevit
31          DIGITRENDZZ
32               T-ROCK
33                ZOVIM
34                Pexlo
35                 Puma
36               Chevit
37            Rockfield
38             URBANBOX
39                 Puma

In [85]:
# lets finding the product description of the brands
Task5 = driver.find_elements_by_xpath("//div[@class='_2LFGJH']/a[1]")
Task5

[<selenium.webdriver.remote.webelement.WebElement (session="c32d946d9a18925f1d98dc1fd4213407", element="3a60d69e-dea2-4f46-ad74-314e57f8279a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c32d946d9a18925f1d98dc1fd4213407", element="0c091315-49b9-4327-bc98-9a753ffd4eae")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c32d946d9a18925f1d98dc1fd4213407", element="bd81e8ec-f3fc-4ba2-8588-7fad4df3ca9d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c32d946d9a18925f1d98dc1fd4213407", element="25cd7810-bfb6-41ac-8bc8-decaae550c01")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c32d946d9a18925f1d98dc1fd4213407", element="3d2ee20a-bbb7-4470-88e5-5ceef404b169")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c32d946d9a18925f1d98dc1fd4213407", element="75e68c7f-e551-477b-8ce8-c65d338e377d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c32d946d9a18925f1d98dc1fd4213407", element="352fb2d8-da3e-47d2-a25e-0dec7df85992")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c32d946d9a18925f1d98dc1fd4213407", element="88761b08-a3f2-448e-a3be-a6d97647e72e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c32d946d9a18925f1d98dc1fd4213407", element="2eb48624-6d21-4cc5-80a7-a424537d35da")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c32d946d9a18925f1d98dc1fd4213407", element="824fd354-86c5-4346-878d-73281ce0e791")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c32d946d9a18925f1d98dc1fd4213407", element="f46c64ba-f3d0-4724-bee8-39a8293bd7f7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c32d946d9a18925f1d98dc1fd4213407", element="7eff2def-4c33-47e8-979c-7d7497b83459")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c32d946d9a18925f1d98dc1fd4213407", element="d1d9325d-99f3-44ba-8775-91f12a050fcb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c32d946d9a18925f1d98dc1fd4213407", element="75278c0a-6ec9-40fe-8b6a-19820ab1cdb2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c32d946d9a18925f1d98dc1fd4213407", element="517f0d2f-9579-4d70-9786-9753f116efb6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c32d946d9a18925f1d98dc1fd4213407", element="90455454-b497-4967-87c8-91c053ea551b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c32d946d9a18925f1d98dc1fd4213407", element="1c2f445b-8067-40e5-b794-21e84148243b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c32d946d9a18925f1d98dc1fd4213407", element="0ead74a4-aecf-44e2-a1e6-4a55cc35a4ee")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c32d946d9a18925f1d98dc1fd4213407", element="4de685b1-66a7-49b9-911b-ee55382eb15a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c32d946d9a18925f1d98dc1fd4213407", element="3a7244fc-231f-4f9c-8239-18a4517a023b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c32d946d9a18925f1d98dc1fd4213407", element="360b3189-b073-4a5b-afa7-c92d41d40e92")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c32d946d9a18925f1d98dc1fd4213407", element="71fc442f-285b-4a8c-aab8-64efc91c5587")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c32d946d9a18925f1d98dc1fd4213407", element="bd0073c1-54a7-4acb-a20e-eacd1c3f4dff")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c32d946d9a18925f1d98dc1fd4213407", element="f4fed679-24ef-494a-9b53-551fcc3225ed")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c32d946d9a18925f1d98dc1fd4213407", element="54e62d93-7c2d-4325-90b5-c63105ec41ad")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c32d946d9a18925f1d98dc1fd4213407", element="6db6f5a4-00c6-4431-9e1a-017395bae91b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c32d946d9a18925f1d98dc1fd4213407", element="813d61c8-9b33-4a2a-95d0-974be18617e7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c32d946d9a18925f1d98dc1fd4213407", element="849e75ae-67c4-437b-95ca-937b09eba2ba")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c32d946d9a18925f1d98dc1fd4213407", element="5046381a-5455-4114-858b-ecfd06126e3c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c32d946d9a18925f1d98dc1fd4213407", element="338a4a19-3371-47c8-a97d-21a83a8f2165")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c32d946d9a18925f1d98dc1fd4213407", element="4951f591-d64e-4d83-b5a0-086a6f783dfb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c32d946d9a18925f1d98dc1fd4213407", element="2cd07ee8-bfcc-40bd-a025-a243b63366cc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c32d946d9a18925f1d98dc1fd4213407", element="54bda8bd-dd4a-4386-9f0a-3ee18c306cce")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c32d946d9a18925f1d98dc1fd4213407", element="735eab37-1291-4522-b2dd-05af92cdd435")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c32d946d9a18925f1d98dc1fd4213407", element="0c9a2025-6b10-44cd-9655-61d4051a63d4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c32d946d9a18925f1d98dc1fd4213407", element="3756bac2-db98-4b53-89af-7bcedced95ab")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c32d946d9a18925f1d98dc1fd4213407", element="0d6fa359-e107-4c61-98fc-4c4e3a5b3906")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c32d946d9a18925f1d98dc1fd4213407", element="c9c57caf-c350-4432-a1a4-12db5ffde87a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c32d946d9a18925f1d98dc1fd4213407", element="c5922c06-8913-482b-a959-f47ec71810ff")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c32d946d9a18925f1d98dc1fd4213407", element="4325912e-8426-42f6-a50d-db523fe65263")>]

In [86]:
# lets scrap the product desc from the tag with the help of for loop
for iz in Task5:
    qzp = iz.text
    Product_Description.append(qzp)

In [87]:
# lets create the dataframe of product description table
Product_Description1 = pd.DataFrame(Product_Description)
Product_Description1 = Product_Description1.rename({ 0: 'Product Description'} , axis=1 )
Product_Description1

                                  Product Description
0                                    Sneakers For Men
1                        ATLANTA NEO Sneakers For Men
2   Combo Pack of 4 Casual Sneakers With Sneakers ...
3   171 Smart Tan Lace-Ups Casuals for Men Sneaker...
4   Chevit Latest Fashion Combo Pack of 2 Pairs Ca...
5   170 Smart Grey Lace-Ups Casuals for Men Sneake...
6                                    Sneakers For Men
7                                    Sneakers For Men
8       Combo Pack of 2 Casual Shoes Sneakers For Men
9   Casual , Partywear Sneakers Shoes For Men's An...
10                                   Sneakers For Men
11                                   Sneakers For Men
12  168 Smart Red Lace-Ups Casuals for Men Sneaker...
13                            Classy Sneakers For Men
14                                   Sneakers For Men
15                       Smash v2 CV Sneakers For Men
16                                   Sneakers For Men
17         Sneakers for men(black_8) Sneakers For Men
18                                   Sneakers For Men
19              Jfwbrad Knit Lace Up Sneakers For Men
20  Combo Pack of 5 Casual Sneakers With Sneakers ...
21                            SM-439 Sneakers For Men
22     White Sneaker For Men's/Boy's Sneakers For Men
23             Lazy Knit Slip On IDP Sneakers For Men
24     Casual Sneakers Shoes For Men Sneakers For Men
25                                   Sneakers For Men
26  5011-Latest Collection Stylish Casual Loafer S...
27                  SB Charge Canvas Sneakers For Men
28                    White Sneakers Sneakers For Men
29  Combo Pack of 4 Latest Collection Stylish Casu...
30  169 Smart Sky Blue Lace-Ups Casuals for Men Sn...
31                                   Sneakers For Men
32  Mesh Casual Stylish Partywear Casaul Shoes For...
33               jeans shoes for men Sneakers For Men
34      Combo Pack of 3 Casual Shoes Sneakers For Men
35                    MAPM Wired Run Sneakers For Men
36  Smart Casuals Canvas Shoes Combo pack of 2 Sne...
37                                   Sneakers For Men
38                   STYLISH-WHITE-9 Sneakers For Men
39                     Puma Turin II Sneakers For Men

In [88]:
Task6 = driver.find_elements_by_xpath("//div[@class='_1uv9Cb']/div[1]")
Task6[0:5]

[<selenium.webdriver.remote.webelement.WebElement (session="c32d946d9a18925f1d98dc1fd4213407", element="94783e76-222d-4223-9c20-b9448a18d42c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c32d946d9a18925f1d98dc1fd4213407", element="1d4e4ce4-80b9-402e-8240-0edfa43b9918")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c32d946d9a18925f1d98dc1fd4213407", element="c4b46837-aac2-49a4-afc1-d9175f640554")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c32d946d9a18925f1d98dc1fd4213407", element="f8e3c09f-009d-4ed6-8b6d-6c142c920749")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c32d946d9a18925f1d98dc1fd4213407", element="97621ea5-6430-44aa-9c0e-56dd9842c0bc")>]

In [89]:
for apv in Task6:
    apx =apv.text
    Price.append(apx)

In [90]:
Price1 = pd.DataFrame(Price)
Price1 = Price1.rename(columns = { 0 : 'Price'})
Price1

     Price
0   ₹1,424
1     ₹799
2     ₹461
3     ₹236
4     ₹525
5     ₹236
6     ₹240
7   ₹1,023
8     ₹509
9     ₹370
10    ₹405
11  ₹1,349
12    ₹236
13    ₹224
14    ₹378
15  ₹1,749
16    ₹374
17    ₹399
18    ₹374
19  ₹1,499
20    ₹699
21    ₹595
22    ₹331
23  ₹1,499
24    ₹379
25    ₹299
26    ₹228
27  ₹2,697
28    ₹311
29    ₹499
30    ₹236
31    ₹379
32    ₹349
33    ₹399
34    ₹679
35  ₹2,999
36    ₹360
37    ₹499
38    ₹199
39  ₹1,775
40    ₹299
41    ₹499
42    ₹405
43    ₹461
44    ₹525

In [91]:
Price2 = Price1.iloc[0:80]
Price2

     Price
0   ₹1,424
1     ₹799
2     ₹461
3     ₹236
4     ₹525
5     ₹236
6     ₹240
7   ₹1,023
8     ₹509
9     ₹370
10    ₹405
11  ₹1,349
12    ₹236
13    ₹224
14    ₹378
15  ₹1,749
16    ₹374
17    ₹399
18    ₹374
19  ₹1,499
20    ₹699
21    ₹595
22    ₹331
23  ₹1,499
24    ₹379
25    ₹299
26    ₹228
27  ₹2,697
28    ₹311
29    ₹499
30    ₹236
31    ₹379
32    ₹349
33    ₹399
34    ₹679
35  ₹2,999
36    ₹360
37    ₹499
38    ₹199
39  ₹1,775
40    ₹299
41    ₹499
42    ₹405
43    ₹461
44    ₹525

In [92]:
# lets finding the discount offered of the brands
Task7 = driver.find_elements_by_xpath("//div[@class='VGWI6T']/span")
Task7

[<selenium.webdriver.remote.webelement.WebElement (session="c32d946d9a18925f1d98dc1fd4213407", element="15a5b38b-c2fa-47f6-bbbc-712530bd99d8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c32d946d9a18925f1d98dc1fd4213407", element="e896e56a-655a-4bd5-b192-149607bbf68d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c32d946d9a18925f1d98dc1fd4213407", element="2e545143-fd07-4edd-be1e-6d044607d28a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c32d946d9a18925f1d98dc1fd4213407", element="ccc52ec8-06fe-4c90-8bf9-5ce0b421ade9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c32d946d9a18925f1d98dc1fd4213407", element="fc3a98d8-d89b-45ae-b1a6-3c24dc86a110")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c32d946d9a18925f1d98dc1fd4213407", element="ae81daec-2c85-4ddf-b4c2-7c086d0476fe")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c32d946d9a18925f1d98dc1fd4213407", element="5d43a435-08f8-408f-b76a-6835e5b94d24")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c32d946d9a18925f1d98dc1fd4213407", element="1953cf91-f960-4c45-a84b-a1b47d51601c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c32d946d9a18925f1d98dc1fd4213407", element="f848ff26-0376-4571-8aa4-64d6f64afc88")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c32d946d9a18925f1d98dc1fd4213407", element="b9d3cb4e-ca69-45e9-a020-403548588bf0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c32d946d9a18925f1d98dc1fd4213407", element="578ff62a-0b7a-4a6a-9ab1-d6a4d9dbc857")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c32d946d9a18925f1d98dc1fd4213407", element="ab0b217c-a40d-4523-8f2e-dd378bda45b8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c32d946d9a18925f1d98dc1fd4213407", element="50a8ea0f-c16b-4cbe-8177-0d97eebda2c5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c32d946d9a18925f1d98dc1fd4213407", element="45147d56-e4c7-4d20-8a16-73df7172ff64")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c32d946d9a18925f1d98dc1fd4213407", element="9ab03993-d5d9-4465-8f26-220bf15a9547")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c32d946d9a18925f1d98dc1fd4213407", element="2a670d86-96c8-4df9-9054-6193b4b1a414")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c32d946d9a18925f1d98dc1fd4213407", element="28a3008a-918c-4f57-b084-e99e4d0d0015")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c32d946d9a18925f1d98dc1fd4213407", element="bf8322a5-4077-4065-ac21-be0048318915")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c32d946d9a18925f1d98dc1fd4213407", element="a4c090be-d563-4277-8560-dc4231799e83")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c32d946d9a18925f1d98dc1fd4213407", element="d149fa93-4ff3-4502-b6da-071ec060df97")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c32d946d9a18925f1d98dc1fd4213407", element="49093b25-96ac-44a1-bd6e-f21df83ac26d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c32d946d9a18925f1d98dc1fd4213407", element="d0167a08-faf2-4928-9cf6-dfb7c7d5715c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c32d946d9a18925f1d98dc1fd4213407", element="797d7fd4-ca48-4c91-a4da-23bf00e85534")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c32d946d9a18925f1d98dc1fd4213407", element="992b2d63-f0a2-4f63-8374-4dc8c23b5770")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c32d946d9a18925f1d98dc1fd4213407", element="0defacf4-d5c6-4308-93ff-0f06b27cee13")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c32d946d9a18925f1d98dc1fd4213407", element="7c8757d9-dd72-479e-a80d-9a1aedc1dfed")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c32d946d9a18925f1d98dc1fd4213407", element="91ec213a-adf6-4049-acfd-348296889539")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c32d946d9a18925f1d98dc1fd4213407", element="a5df9a1d-dd59-4087-b734-4d5553103e11")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c32d946d9a18925f1d98dc1fd4213407", element="f22920ce-3986-44d2-abfe-6895a50175eb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c32d946d9a18925f1d98dc1fd4213407", element="471b7224-6d25-43c5-af56-bdd0f286ca5f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c32d946d9a18925f1d98dc1fd4213407", element="f23715a7-91aa-42eb-ac4c-13ec18459aa1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c32d946d9a18925f1d98dc1fd4213407", element="6031fba8-fef1-4b67-92e8-5b3108a2560f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c32d946d9a18925f1d98dc1fd4213407", element="167e605b-7ed0-447d-a08a-e6a89b53c2de")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c32d946d9a18925f1d98dc1fd4213407", element="e2528ccf-9c1e-4fc0-8497-9fd38bafccdb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c32d946d9a18925f1d98dc1fd4213407", element="f6b57895-9f48-46d0-a5be-c71d8f60bcec")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c32d946d9a18925f1d98dc1fd4213407", element="acf9e706-77ef-4391-b228-777700b3a310")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c32d946d9a18925f1d98dc1fd4213407", element="09a017d3-c6b5-48d4-8777-ce7aff979a7b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c32d946d9a18925f1d98dc1fd4213407", element="64fd67f8-5302-4f50-9543-4f9fce0749cd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c32d946d9a18925f1d98dc1fd4213407", element="545462c7-0f66-418d-b240-44339dfbfe94")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c32d946d9a18925f1d98dc1fd4213407", element="d437149b-458c-47ab-bab1-df94018a774f")>]

In [93]:
# lets scrap the discounts offered on the brands with the help of for loop
for i in Task7:
    dof = i.text
    Discount.append(dof)

In [94]:
# lets create the discount table
Discount1 = pd.DataFrame(Discount)
Discount1 =Discount1.rename(columns = { 0 : 'Discount'})
Discount1

   Discount
0   50% off
1   60% off
2   76% off
3   52% off
4   64% off
5   52% off
6   51% off
7   75% off
8   49% off
9   43% off
10  59% off
11  50% off
12  52% off
13  85% off
14  62% off
15  50% off
16  62% off
17  60% off
18  62% off
19  50% off
20  82% off
21  14% off
22  66% off
23  50% off
24  62% off
25  70% off
26  54% off
27  40% off
28  68% off
29  75% off
30  52% off
31  62% off
32  65% off
33  60% off
34  54% off
35  50% off
36  63% off
37  50% off
38  60% off
39  63% off

In [95]:
# finding the length of each attribute
print(len(Brand1),len(Product_Description1),len(Price2),len(Discount1))

40 40 45 40

In [96]:
# lets add the whole data in a table
Sneakers1 =pd.concat([Brand1,Product_Description1,Price2,Discount1] , axis=1)
Sneakers1

,Brand,Product Description,Price,Discount
0,WROGN,Sneakers For Men,"₹1,424",50% off
1,Lotto,ATLANTA NEO Sneakers For Men,₹799,60% off
2,Chevit,Combo Pack of 4 Casual Sneakers With Sneakers ...,₹461,76% off
3,Chevit,171 Smart Tan Lace-Ups Casuals for Men Sneaker...,₹236,52% off
4,Chevit,Chevit Latest Fashion Combo Pack of 2 Pairs Ca...,₹525,64% off
5,Chevit,170 Smart Grey Lace-Ups Casuals for Men Sneake...,₹236,52% off
6,Hotstyle,Sneakers For Men,₹240,51% off
7,Red Tape,Sneakers For Men,"₹1,023",75% off
8,Birde,Combo Pack of 2 Casual Shoes Sneakers For Men,₹509,49% off
9,D-SNEAKERZ,"Casual , Partywear Sneakers Shoes For Men's An...",₹370,43% off
10,Robbie jones,Sneakers For Men,₹405,59% off
11,WROGN,Sneakers For Men,"₹1,349",50% off
12,Chevit,168 Smart Red Lace-Ups Casuals for Men Sneaker...,₹236,52% off
13,Stefano Rads,Classy Sneakers For Men,₹224,85% off
14,Next INN,Sneakers For Men,₹378,62% off
15,Puma,Smash v2 CV Sneakers For Men,"₹1,749",50% off
16,Essence,Sneakers For Men,₹374,62% off
17,Believe,Sneakers for men(black_8) Sneakers For Men,₹399,60% off
18,Essence,Sneakers For Men,₹374,62% off
19,JACK & JONES,Jfwbrad Knit Lace Up Sneakers For Men,"₹1,499",50% off
20,BRUTON,Combo Pack of 5 Casual Sneakers With Sneakers ...,₹699,82% off
21,Sparx,SM-439 Sneakers For Men,₹595,14% off
22,Shoes Bank,White Sneaker For Men's/Boy's Sneakers For Men,₹331,66% off
23,Puma,Lazy Knit Slip On IDP Sneakers For Men,"₹1,499",50% off
24,Robbie jones,Casual Sneakers Shoes For Men Sneakers For Men,₹379,62% off
25,Aadi,Sneakers For Men,₹299,70% off
26,World Wear Footwear,5011-Latest Collection Stylish Casual Loafer S...,₹228,54% off
27,Nike,SB Charge Canvas Sneakers For Men,"₹2,697",40% off
28,Magnolia,White Sneakers Sneakers For Men,₹311,68% off
29,World Wear Footwear,Combo Pack of 4 Latest Collection Stylish Casu...,₹499,75% off
30,Chevit,169 Smart Sky Blue Lace-Ups Casuals for Men Sn...,₹236,52% off
31,DIGITRENDZZ,Sneakers For Men,₹379,62% off
32,T-ROCK,Mesh Casual Stylish Partywear Casaul Shoes For...,₹349,65% off
33,ZOVIM,jeans shoes for men Sneakers For Men,₹399,60% off
34,Pexlo,Combo Pack of 3 Casual Shoes Sneakers For Men,₹679,54% off
35,Puma,MAPM Wired Run Sneakers For Men,"₹2,999",50% off
36,Chevit,Smart Casuals Canvas Shoes Combo pack of 2 Sne...,₹360,63% off
37,Rockfield,Sneakers For Men,₹499,50% off
38,URBANBOX,STYLISH-WHITE-9 Sneakers For Men,₹199,60% off
39,Puma,Puma Turin II Sneakers For Men,"₹1,775",63% off
40,NaN,NaN,₹299,NaN
41,NaN,NaN,₹499,NaN
42,NaN,NaN,₹405,NaN
43,NaN,NaN,₹461,NaN
44,NaN,NaN,₹525,NaN

In [97]:
Task8 = driver.find_element_by_xpath("//a[@class='_2Xp0TH']")
Task8.click()

In [98]:
Brand3 = []
Product_Description3 = []
Price3 = []
Discount3 = []

time.sleep(5)

Task9 = driver.find_elements_by_xpath("//div[@class='_2B_pmu']")


for qcx in Task9:
    qzx = qcx.text
    Brand3.append(qzx)
Brand3

Brand3 = pd.DataFrame(Brand3)
Brand3 = Brand3.rename(columns = { 0 : 'Brand'})
Brand3

                  Brand
0               Essence
1               A-CLASS
2              Red Rose
3                 otoos
4                Chevit
5                REWARM
6                 Axter
7                 WROGN
8                T-Rock
9               Stinson
10                Axter
11                 Puma
12             Bersache
13               Chevit
14               Oricum
15                 Puma
16         Black Bottom
17              Edoeviv
18                Birde
19                 Nike
20              Numenzo
21               Chevit
22     Absolute comfort
23                 Puma
24                Axter
25            bluemaker
26            SCATCHITE
27      M7 By Metronaut
28              Airland
29                 Nike
30  World Wear Footwear
31              ESSENCE
32           D-SNEAKERZ
33             Red Tape
34    Stranger Brothers
35               layasa
36              Believe
37          DIGITRENDZZ
38             Red Rose
39         JACK & JONES

In [99]:

time.sleep(5)

Task10 = driver.find_elements_by_xpath("//div[@class='_2LFGJH']/a[1]")


for qmq in Task10:
    qzpq = qmq.text
    Product_Description3.append(qzpq)


Product_Description3 = pd.DataFrame(Product_Description3)
Product_Description3 = Product_Description3.rename({ 0: 'Product Description'} , axis=1 )

In [100]:
time.sleep(5)

Task11 = driver.find_elements_by_xpath("//div[@class='_1uv9Cb']/div[1]")


for apvq in Task11:
    apxq =apvq.text
    Price3.append(apxq)

Price3 = pd.DataFrame(Price3)
Price3 = Price3.rename(columns = { 0 : 'Price'})


Price3 = Price3.iloc[0:40]
time.sleep(3)

Task12 = driver.find_elements_by_xpath("//div[@class='VGWI6T']/span")



for gzpz in Task12:
    avqz = gzpz.text
    Discount3.append(avqz)


Discount3 = pd.DataFrame(Discount3)

Discount3 =Discount3.rename(columns = { 0 : 'Discount'})
Discount3

print(len(Brand3),len(Product_Description3),len(Price3),len(Discount3))

40 40 40 39

In [101]:
Sneakers2 =pd.concat([Brand3,Product_Description3,Price3,Discount3] , axis=1)
Sneakers2

,Brand,Product Description,Price,Discount
0,Essence,Sneakers For Men,₹374,62% off
1,A-CLASS,Combo Fit-Man Sneakers For Men,₹378,84% off
2,Red Rose,Sneakers For Men,₹399,60% off
3,otoos,Sneakers For Men,₹449,55% off
4,Chevit,Lightweight Combo Pack of 02 Trendy Sneakers C...,₹570,42% off
5,REWARM,Men's CASUAL Shoes Fashion Breathable Sneakers...,₹299,70% off
6,Axter,Combo Pack of 2 Latest Collection Stylish Casu...,₹299,70% off
7,WROGN,Sneakers For Men,"₹1,399",50% off
8,T-Rock,Synthetic Leather Casual Partywear Wedding Sne...,₹399,60% off
9,Stinson,Combo of 5 Multicolor Casual Sneakers Shoes Fo...,₹599,75% off
10,Axter,Combo Pack of 2 New Fashion Casual Loafers Sne...,₹498,50% off
11,Puma,Puma Wired Cage Sneakers For Men,"₹1,749",50% off
12,Bersache,"Bersache Sports (Walking & Gym Shoes) Running,...",₹498,50% off
13,Chevit,Combo Pack of 5 Casual Sneakers With Sneakers ...,₹599,75% off
14,Oricum,ORIFWSH(OR)-1077 Sneakers For Men,₹203,59% off
15,Puma,Puma Flex Renew Sneakers For Men,"₹1,999",50% off
16,Black Bottom,Fashion Outdoor Canvas Casual Light Weight Par...,₹399,60% off
17,Edoeviv,Sneakers For Men,₹375,46% off
18,Birde,Combo of 4 Sneakers For Men,₹461,76% off
19,Nike,Ebernon Low Sneakers For Men,"₹2,877",40% off
20,Numenzo,Sneakers For Men,₹428,57% off
21,Chevit,168 Smart Red Lace-Ups Casuals for Men Sneaker...,₹236,52% off
22,Absolute comfort,COMBO-(2)-RWT Sneakers For Men,₹330,66% off
23,Puma,RS-X Hard Drive Sneakers For Men,"₹8,999",70% off
24,Axter,Combo Pack of 2 Casual Loafer Sneakers Shoes S...,₹299,60% off
25,bluemaker,casual for men (blue 06) Sneakers For Men,₹399,60% off
26,SCATCHITE,Sneakers Sneakers For Men,₹398,65% off
27,M7 By Metronaut,Sneakers For Men,₹518,50% off
28,Airland,shoe Sneakers For Men,₹247,40% off
29,Nike,SB FC STANDARD Sneakers For Men,"₹3,297",54% off
30,World Wear Footwear,Men 5014 Latest Collection Stylish Casual Spor...,₹228,62% off
31,ESSENCE,Sneakers For Men,₹374,43% off
32,D-SNEAKERZ,"Casual , Partywear Sneakers Shoes For Men's An...",₹370,75% off
33,Red Tape,Sneakers For Men,₹999,62% off
34,Stranger Brothers,Sneakers For Men,₹371,70% off
35,layasa,sports shoes for men | Latest Stylish Casual s...,₹299,60% off
36,Believe,Sneakers for men(beige_6) Sneakers For Men,₹399,62% off
37,DIGITRENDZZ,Sneakers For Men,₹379,20% off
38,Red Rose,Sneakers For Men,₹399,57% off
39,JACK & JONES,Jfwbanna Print Pu Sneakers For Men,"₹1,698",NaN

In [102]:
sneaker = pd.concat( [Sneakers1,Sneakers2],axis=0)
sneaker

,Brand,Product Description,Price,Discount
0,WROGN,Sneakers For Men,"₹1,424",50% off
1,Lotto,ATLANTA NEO Sneakers For Men,₹799,60% off
2,Chevit,Combo Pack of 4 Casual Sneakers With Sneakers ...,₹461,76% off
3,Chevit,171 Smart Tan Lace-Ups Casuals for Men Sneaker...,₹236,52% off
4,Chevit,Chevit Latest Fashion Combo Pack of 2 Pairs Ca...,₹525,64% off
...,...,...,...,...
35,layasa,sports shoes for men | Latest Stylish Casual s...,₹299,60% off
36,Believe,Sneakers for men(beige_6) Sneakers For Men,₹399,62% off
37,DIGITRENDZZ,Sneakers For Men,₹379,20% off
38,Red Rose,Sneakers For Men,₹399,57% off
39,JACK & JONES,Jfwbanna Print Pu Sneakers For Men,"₹1,698",NaN